.container-costum{
   margin: auto;
   max-width: 800px;
}
.profile-img{
   max-width: 300px;
}
.contact{
   height: 400px;
   background-color: rgb(1, 3, 16);
   color: lightskyblue;
}
.footer-botom{
   width: 100%;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.card{
   position: relative;
}

.card:hover .overlay{
   display: flex;
}

.card img{
   position: relative;
}
.card .overlay{
   display: none;
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   justify-content: center;
   align-items: center;
   font-size: 50px;
   font-weight: bold;
   color: white;
}
.overlay-clor{
   background-color: #1abc9c;
}
