.container-costum{
   margin: auto;
   max-width: 800px;
}
.profile-img{
   max-width: 300px;
}

.footer-botom{
   width: 100%;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.card{
   position: relative;
}

.card:hover .overlay{
   display: flex;
}

.card img{
   position: relative;
}
.card .overlay{
   display: none;
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   justify-content: center;
   align-items: center;
   font-size: 50px;
   font-weight: bold;
   color: white;
}
.overlay-clor{
   background-color: #1abc9c;
}
.input{
   border: none;
   border-bottom: 1px solid lightgrey;
   border-radius: 0;
}
.input.space{
height: 150px;
}
.btn-green{
   background-color: #1abc9c;
   color: #fff;
}
footer a{
   width: 40px;
   font-size: 25px;
   color: inherit;
   text-decoration: none;
   margin: 0 5px;
}